@import "tailwindcss";

@theme {
  --color-brand-primary: #252525;
  --color-brand-secondary: #bfa080;
  --color-brand-accent: #666666;
  --color-brand-light: #f9f9f9;
  --color-brand-bg: #ffffff;
  --color-brand-border: #e5e5e5;
  --color-brand-dark: #1a1a1a;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  font-size: 85%;
  /* Genel site küçültme (%15) */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-brand-light);
  color: var(--color-brand-primary);
  font-family: var(--font-sans);
}